<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="error">

  <Properties>
    <Property name="logFileName">dropbox-file-uploader</Property>
  </Properties>

  <Appenders>
    <RollingFile name="fileAppender" fileName="logs/${logFileName}.log" filePattern="logs/${logFileName}-%d{yyyy-MM-dd}.log">
      <PatternLayout>
        <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %C - %msg%n</pattern>
      </PatternLayout>

      <Policies>
        <SizeBasedTriggeringPolicy size="5 MB" />
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="util" level="info" additivity="true">
      <appender-ref ref="fileAppender" />
    </Logger>
  </Loggers>

</Configuration>